<div class="table-container">
  <table>
    <tr>
      <th>name or title</th>
      <th>image or username</th>
      <th>Calls</th>
      <th>Delete</th>
    </tr>
    <tr>
      <td>{{ image1.title }}</td>
      <td><img [src]="image1.thumbnailUrl" alt="" /></td>
      <td><button class="button" (click)="getImage()">Cached Call</button></td>
      <td><button class="button" (click)="onClearImage()">Clear</button></td>
    </tr>
    <tr>
      <td>{{ user1.name }}</td>
      <td>{{ user1.username }}</td>
      <td><button class="button" (click)="getUser()">Uncached Call</button></td>
      <td><button class="button" (click)="onClearUser()">Clear</button></td>
    </tr>
  </table>
</div>
